# Database - PostgreSQL
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database_name>

# Database - Mongo
MONGO_DB=<database_name>

# JWT
JWT_KEY=<key>
JWT_ISSUER=UserService
JWT_AUDIENCE=ApiGateway